# Kafka related
confluent-kafka

# Cloud Storage
google-cloud-storage
google-cloud-bigquery

# Data processing
pyarrow
pyspark

# Airflow
apache-airflow
apache-airflow-providers-google
apache-airflow-providers-postgres

# Utilities
pandas
numpy
python-dotenv 