# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
dbt_modules/
profiles.yml
dbt_cloud.yml

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
